@model IEnumerable<DGM_Checkout_dev.Models.Rental>

    @{
        ViewData["Title"] = "RentalUser";
    }

    <h2>RentalUser</h2>

    @* used index as a refference. *@

    @*Table displaying column headins and database entries*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RentalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentalCheckoutDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentalDueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentalReturnDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentalLocation)
                </th>
                <th>
                    Student ID and Name
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalCheckoutDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalDueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalReturnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalLocation)
                    </td>

                    <td>
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserID">@Html.DisplayFor(modelItem => item.User.UserFullInfo)</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RentalID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RentalID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
