
@model IEnumerable<DGM_Checkout_dev.Models.Inventory>

@{
    ViewData["Title"] = "AddItems";
}

<h2>AddItems</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventorySerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InventorySerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryMake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationEntry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental.RentalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusEntry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.TypeEntry)
                </td>
                <td>
                    <a asp-action="Add" asp-route-id="@item.InventoryID">Add Item to Rental</a>
                   
                    @*
                    <a asp-action="Edit" asp-route-id="@item.InventoryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InventoryID">Details</a>
                    *@
                </td>
            </tr>
        }
    </tbody>
</table>

