@model DGM_Checkout_dev.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InventorySerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventorySerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryMake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryMake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationEntry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rental)
        </dt>
        <dd>
            <a asp-controller="Rentals" asp-action="Details" asp-route-id="@Model.RentalID">@Html.DisplayFor(model => model.Rental.RentalName)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusEntry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.TypeEntry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InventoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
